# macOS
.DS_Store

# Редактори / IDE
.idea/
.vscode/
*.sublime-*

# Залежності (якщо колись зʼявляться build-інструменти)
node_modules/
vendor/

# Логи та тимчасові файли
*.log
*.tmp

# Локальні налаштування середовища
.env
